@import url('https://fonts.googleapis.com/css?family=Lato');
@font-face{
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Lato');
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.mainPage {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: #ede574;
  background: -webkit-linear-gradient(to right, #ede574, #e1f5c4);
  background: linear-gradient(to right, #ede574, #e1f5c4);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header>p {
  color: rgba(0,0,0,.4);
  font-weight: 900;
  margin: 3vh 2vw;
  font-size: 3rem;
}

header p:hover{
  background: linear-gradient(to right, #1d976c, #93f9b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav ul{
  font-size: 1.5rem;
  color: rgba(0,0,0,.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 3vh 2vw 0 0;
}

.nav li{
  margin-right: 1.5vh;
  transition: border-bottom 500s;
}

.nav li:hover {
  border-bottom: 1px solid red;
}

main {
  width: 80vw;
  margin: 0 10vw;
}

main h1 {
  color: rgba(0,0,0,.6);
  margin-top: 5vh;
  font-size: 4rem;
  border-bottom: 1px solid #a3de83;
}

.content {
  border-bottom: 1px solid #a3de83;
  height: 40vh;
  position: relative;
}

.content p{
  height: 30vh;
  width: 45%;
  color: rgba(0,0,0,.7);
  line-height: 2rem;
  display: inline-block;
  margin-top: 3vh;
}

/*.content div {
  display: inline-block;
  width: 45%;
  height: 100%;
  float:right;
  position: relative;
}

.content div div{
  width: 3rem;
  height: 3rem;
  background: #a3de83;
  border-radius: 50%;
  position: absolute;
  animation: ballDown 5s 1 ease-out;
  visibility: hidden;
  top: -44px;
}

@keyframes ballDown {
  0%{top: -5vh; left:0%; visibility: visible;}
  25%{top: 35vh; left:10%}
  50%{top: 20vh; left: 30%}
  65%{top: 35vh; left: 50%}
  80%{top: 28vh; left: 70%}
  90%{top: 35vh; left: 90%}
  95%{top: 35vh; left: 95%}
  100%{top: 60vh; left: 100%; visibility: hidden;}
}*/

.content::after{
  clear: both;
}

.content>div{
  width: 10vh;
  height: 10vh;
  border: 5px solid #a3de83;
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 70%;
}

.content div div:first-of-type{
  width: 10vh;
  height: 10vh;
  background: #38817a;
  position: absolute;
  top: 59%;
  left: 59%;
  animation: roundSq1 4s infinite linear;
}

@keyframes roundSq1 {
  0%{top:59%; left:59%; }
  25%{top:-59%; left:59%;}
  50%{top:-59%; left:-59%;}
  75%{top:59%; left:-59%;}
  100%{top:59%; left:59%;}
}

.content div div:last-of-type{
  width: 10vh;
  height: 10vh;
  background: #346473;
  position: absolute;
  top: -59%;
  left: -59%;
  animation: roundSq2 4s infinite linear;
}

@keyframes roundSq2 {
  0%{top:-59%; left:-59%;}
  25%{top:59%; left:-59%;}
  50%{top:59%; left:59%;}
  75%{top:-59%; left:59%;}
  100%{top:-59%; left:-59%;}
}





































/*CALC*/
.tab {
  width: 70vw;
  border: 1px solid #4ea1d3;
  float: right;
  background: #d8e9ef;
  color: #454552;
}

.table tbody tr:nth-child(even) {
  background-color: #c9d6de;
}

.mainDiv {
  margin: 2vh 2vw;
}

.mainBtnsContainer {
  float:left;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.mainBtns {
  font-family: 'Lato', sans-serif;
  width: 25vw;
  height: 3vh;
  min-height: 20px;
  color: #454552;
  background: #d8e9ef;
  border: 1px solid #4ea1d3;
  margin-bottom: 2vh;
}

.mainBtns:hover{
  border-bottom: 1px dashed #e85a71;
  transform: scale(1.02);
}

.subBtn {
  width: 25vw;
  height: 4vh;
  min-height: 25px;
  color: #52616a;
  background: #c9d6de;
  border: 1px solid #1e2022;
  transition: background 2s, color 2s;
}

.subBtn:hover {
  background: #52616a;
  color: #c9d6de;
}

.delBtn {
  background: #dddfe6;
  color: #f1404b;
  border: none;
  box-shadow: none;
  transition: background 0.5s, color 0.5s;
}

.delBtn:hover {
  background: #f1404b;
  color: #dddfe6;
}
